@font-face{
	font-family:"Ebrima";
	src:url('../Fonts/Ebrima.ttf');
	src:url('../Fonts/Ebrima.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/Ebrima.woff') format('woff'),
	url('../Fonts/Ebrima.eot') format('embedded-opentype'),
	url('../Fonts/Ebrima.svg') format('svg')
}
@font-face{
	font-family:"Ebrima Bold";
	src:url('../Fonts/Ebrima Bold.ttf');
	src:url('../Fonts/Ebrima Bold.eot?#iefix') format('embedded-opentype'),
		url('../Fonts/Ebrima Bold.woff') format('woff'),
	url('../Fonts/Ebrima Bold.eot') format('embedded-opentype'),
	url('../Fonts/Ebrima Bold.svg') format('svg')
}
body{
  margin:0px;
}
#Header{
  position:fixed;
  top:0px;
  left:0px;
  z-index: 1;
  width:100%;
  padding:10px;
  display:flex;
  display: -ms-flexbox;
  display:-webkit-box;
  display:-webkit-flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Ebrima Bold";
  font-size: 20px;
  box-sizing:border-box;
  border-bottom:1px solid rgb(150,0,200);
  background:rgb(255,255,255);
}
#HeaderTabs{
  display:flex;
  display: -ms-flexbox;
  display:-webkit-box;
  display:-webkit-flex;
  flex-direction: row;
  justify-content:space-around;
  align-items:center;
  width:90%;
}
#HeaderTabs div{
  cursor:pointer;
  color:rgb(170,170,170);
   transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
#HeaderTabs div:hover{
  color:rgb(150,0,200);
  border-bottom: 1px solid;
}
#HeaderTabs #Home:nth-child(1){
 border:0px; 
}
#HeaderImg{
  max-width:60px;
  margin-top:5px;
}
#HeaderTabs #Home{
  color:rgb(150,0,200);
}
.Category{
  font-family: "Ebrima Bold";
  color:rgb(150,0,200);
  margin:10px;
   text-align: left;
  position: relative;
  left:25%;
  width:50%;
  overflow: hidden;
  box-sizing: border-box;
}
.Catalogue{
  box-sizing: border-box;
  border:1px solid rgb(150,0,200);
  display: flex;
  display: -webkit-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  align-items: center;
  justify-content: center;
  padding:5px;
  flex-wrap: wrap;
}
.Product{
  box-sizing: border-box;
  border:1px solid rgb(150,0,200);
  padding:10px;
  width:190px;
  height:300px;
  margin:10px;
  text-align: center;
  background: rgb(255,255,255);
  color:rgb(150,0,200);
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
  cursor: pointer;
  border-radius:5px;
  -webkit-border-radius:5px;
}
.Product:hover, .Product:focus{
  color: rgb(255,255,255);
   background: linear-gradient(to left,rgb(150,0,200),rgb(200,0,250));
  transform:rotateY(180deg) rotateX(0deg);
}
.Product h3{
  margin:0px;
}
.Product img{
  width:60%;
  height:auto;
}
.Product div{
  width:100%;
  height:100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  display: flex;
  flex-direction:column;
  justify-content:space-evenly;
  align-items: center;
  text-overflow: clip;
}
.Product .Description{
  transform: rotateY(180deg);
  position: relative;
   bottom:100%;
}
.Product div:nth-child(1):after{
    content:"Place your mouse over me for more details.";
  }

@media screen and (max-width:500px){
  #HeaderTabs{
    flex-direction: column;
    padding:5px;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:0px;
    left:-1%;
    width:100%;
    height:100%;
    background: rgb(255,255,255);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transform: translate(100%);
  }
  #HeaderTabs div{
  cursor:pointer;
    margin-bottom: 5%;
}
  #HeaderTabs #Home{
  color:rgb(150,0,200);
}
  #Header{
     transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    justify-content: space-between;
  }
   #Header.slide{
    transform: translateX(-50%);
  }
  #HeaderMenu{
    height: 30px;
    width:30px;
    cursor:pointer;
  }
  #HeaderMenu div{
    background: linear-gradient(to right,rgb(150,0,200),rgb(200,0,250));
    width:100%;
    height:5px;
    margin: 5px;
    transition-property: all;
    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
  }
  #HeaderMenu #Bar2.clicked{
    opacity: 0;
  }
  #MainContent{
  transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
}
  #MainContent.slide{
  transform: translateX(-50%);
  
}
  .Category{
    box-sizing: border-box;
    width:99%;
    position: static;
    top;0px;
    left:0px;
    margin: 2px;
  }
  .Product{
    width:40%;
    height:200px;
  }
  .Product h3{
    margin:5px;
  }
  .Product img{
    width:40%;
    height:auto;
  }
  .Product div:nth-child(1):after{
    content:"Click me for more details";
  }
}