@font-face{
font-family:"Ebrima";
src:url('../Fonts/Ebrima.ttf');
src:url('../Fonts/Ebrima.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/Ebrima.woff') format('woff'),
url('../Fonts/Ebrima.eot') format('embedded-opentype'),
url('../Fonts/Ebrima.svg') format('svg')
}
@font-face{
font-family:"Ebrima Bold";
src:url('../Fonts/Ebrima Bold.ttf');
src:url('../Fonts/Ebrima Bold.eot?#iefix') format('embedded-opentype'),
    url('../Fonts/Ebrima Bold.woff') format('woff'),
url('../Fonts/Ebrima Bold.eot') format('embedded-opentype'),
url('../Fonts/Ebrima Bold.svg') format('svg')
}
@font-face{
  font-family:"Calibri";
  src:url('../Fonts/Calibri.ttf');
}
*{
  box-sizing: content-box;
}
div{
  box-sizing: border-box;
}
body{
  margin:0px;
  overflow-x: hidden;
}
#MainContent.blur{
  filter:blur(5px);
  height:100%;
  overflow:hidden;
}
#MainContent{
   display:flex;
  display: -ms-flexbox;
  display:-webkit-box;
  display:-webkit-flex;
  flex-direction: column;
  align-items: center;
}
#Header.blur{
filter:blur(5px);
}
#Header{
position:fixed;
top:0px;
left:0px;
z-index: 1;
width:100%;
height:100px;
padding:10px;
display:flex;
display: -ms-flexbox;
display:-webkit-box;
display:-webkit-flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
font-family: "Ebrima Bold";
font-size: 20px;
box-sizing:border-box;
box-shadow:0px -1px 10px rgb(0,0,0);
background:rgb(255,255,255);
}
#HeaderTabs{
display:flex;
display: -ms-flexbox;
display:-webkit-box;
display:-webkit-flex;
flex-direction: row;
justify-content:space-around;
align-items:center;
width:90%;
}
#HeaderTabs div{
display:flex;
display:-webkit-box;
display:-webkit-flex;
display: -ms-flexbox;
flex-direction: column;
justify-content: space-around;
height:50px;
font-size:15px;
align-items: center;
cursor:pointer;
color:rgb(80,80,80);
filter:opacity(0.4) saturate(0)
}
#HeaderTabs div img{
  width:30px;
}
#HeaderTabs div:hover{
color:rgb(150,0,200);
filter:opacity(1) saturate(1)
}
#HeaderTabs #Home{
filter:saturate(1);
color:rgb(150,0,200);
}
#HeaderImg{
max-width:50px;
margin:10px;
}
#HeaderExtra{
  height:100px;
}
.Search{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:center;
  align-content: center;
  text-align: center;
  flex-wrap: nowrap;
  padding: 5px;
}
#SearchBox{
  height:40px;
  font-family:"Calibri";
  font-size:20px;
  color:darkgrey;
  border-radius:7px;
  margin-top:10px;
  border:solid 2px;
  padding-left:5px;
  width:400px;
  text-align: center;
}
#SearchBox:hover, #SearchBox:focus{
  border-color:rgb(150,0,200);
  color:black;
}
#Search_Icon{
  position: relative;
  right:35px;
  top:5px;
}

.Filter{
  font-family:"Corbel";
  font-weight:bold;
  color:rgb(150,0,200);
  position:relative;
  top:5px;
  transition:0.5s;
  width:35px;
  padding:4px;
  padding-right: 1px;
  padding-left: 1px;
  border:solid 1px rgb(150,0,200);
  border-radius:5px;
}
.Filter img{
  width:20px;
}
.Filter:hover{
  cursor:pointer;
  box-shadow: 0px 0px 5px rgb(0,0,0);
  border:0px;
}

.Category{
font-family: "Ebrima Bold";
color:rgb(150,0,200);
margin:10px;
text-align: left;
width:99%;
overflow: hidden;
box-sizing: border-box;
}
.Catalogue{
box-sizing: border-box;
display: flex;
display: -webkit-box;
display:-ms-flexbox;
display:-webkit-flex;
align-items: center;
justify-content: center;
padding:5px;
flex-wrap: wrap;
}
.Product{
box-sizing: border-box;
border:1px solid rgb(150,0,200);
padding:2px;
width:190px;
height:250px;
margin:10px;
text-align: center;
background: rgb(255,255,255);
color:rgb(150,0,200);
cursor:pointer;
border-radius:10px;
-webkit-border-radius:10px;
transition: 1s;
-moz-transition: 1s;
-ms-transition: 1s;
-webkit-transition: 1s;
-o-transition: 1s;
  transition-property: transform,opacity;
display: flex;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
flex-direction:column;
justify-content:space-around;
align-items:center;
}
.Product:hover{
border:0px;
box-shadow: 0px 0px 5px rgb(0,0,0);
-webkit-box-shadow: 0px 0px 5px rgb(0,0,0)
}
.Product.hidden{
transform: translateY(25%);
opacity:0;
}
.Product.shown{
transform: translateY(0px);
opacity: 1;
/* transition:0.25s;
-moz-transition:0.25s;
-webkit-transition:0.25s;
-ms-transition:0.25s;
-o-transition:0.25s;*/
}
.Product h3{
margin:0px;
}
.Product .Product_Image{
max-width:50px;
max-height:80px;
cursor:pointer;
transition:0.5s;
-moz-transition:0.5s;
-webkit-transition:0.5s;
-ms-transition:0.5s;
-o-transition:0.5s;
}
.Product .Price, .Price{
color:rgb(0,0,0);
}
.Product .Price .discount, .Price .discount{
color:rgb(0,200,0)
}
#Product_Details #Actions img{
width:30px;
max-height:15%;
padding:5px;
cursor:pointer;
transition: 0.2s;
-moz-transition: 0.2s;
-ms-transition: 0.2s;
-webkit-transition: 0.2s;
-o-transition: 0.2s;
}
#Product_Details #Actions{
display: flex;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
column-gap:10px;
align-items: center;
justify-content: center;
}
#Alert{
transition:0.5s;
-moz-transition:0.5s;
-ms-transition:0.5s;
-o-transition:0.5s;
-webkit-transition:0.5s;
width:50%;
height:40px;
color:rgb(150,0,200);
background: rgb(255,255,255);
border:1px solid rgb(150,0,200);
position: fixed;
top:10px;
left:25%;
z-index:2;
font-family: "Ebrima Bold";
text-align: center;
vertical-align: baseline;
padding:5px;
transform:translateY(-150%);
display:flex;
flex-direction: column;
justify-content: center;
  border-radius:10px;
}
#Alert.shown{
transform:translateY(0px)
}
#Product_Details{
width:100%;
height:100%;
word-wrap: break-word;
font-family:"Ebrima Bold";
background:rgb(255,255,255);
box-sizing: border-box;
padding:10px;
position: fixed;
left:0%;
top:0%;
z-index:1;
transform: translateY(150%);
overflow-y: auto;
overflow-x: hidden;
transition: 1s;
-moz-transition: 1s;
-ms-transition: 1s;
-webkit-transition: 1s;
-o-transition: 1s;
}
#Product_Details h2{
color:rgb(150,0,200);
}
#Product_Details #About_Product,#Product_Details #Product_Features, #Product_Details #About_Seller{
font-family: "Ebrima";
max-width:50%
}
#Product_Details.shown{
transform:translateY(0px)
}
#Product_Details #Close_Button{
float:right;
clear:both;
height:30px;
width:30px;
padding:5px;
margin-top:5px;
cursor:pointer;
transition: 0.2s;
-moz-transition: 0.2s;
-ms-transition: 0.2s;
-webkit-transition: 0.2s;
-o-transition: 0.2s;
}
#Product_Details #Close_Button div{
background:linear-gradient(to right,rgb(100,0,150),rgb(200,0,250));
width:100%;
height:2px;
}
#Product_Details #Close_Button #bar1{
transform:translateY(100%) rotate(45deg);
}
#Product_Details #Close_Button #bar2{
transform: rotate(-45deg);
}
#Product_Details #Details #Banner{
display:flex;
display:-webkit-box;
display:-webkit-flex;
display:-ms-flexbox;
flex-direction: column;
justify-content: space-between;
color:rgb(150,0,200);
font-family: "Ebrima Bold";
width:100%;
align-items: center;
}
#Product_Details #Details #Banner img{
  margin-bottom:10px;
}
#Footer{
display: flex;
display: -webkit-box;
display:-ms-flexbox;
display:-webkit-flex;
text-align: center;
width:100%;
font-size: 25px;
box-sizing: border-box;
margin:0px;
position: static;
align-items: center;
justify-content:center;
column-gap:10px;
font-family:"Ebrima Bold";
color:rgb(150,0,200);
padding:10px;
border-top:1px solid rgb(150,0,200);
transition: 2s;
-webkit-transition: 2s;
-ms-transition: 2s;
-o-transition: 2s;
-moz-transition: 2s;
}
a:link{
text-decoration: none;
}
@media screen and (max-width:700px){

  #HeaderTabs{
    flex-direction: column;
    padding:5px;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top:0px;
    left:0px;
    width:100%;
    height:600px;
    background: rgb(255,255,255);
    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transform: translate(100%);
}
  #HeaderTabs div{
  cursor:pointer;
  margin-bottom: 5%;
  flex-direction: row;
  column-gap:20px;
  justify-content: space-between;
  }
  #HeaderTabs div img{
  width:30px;
  }
  #HeaderTabs #Home{
  color:rgb(150,0,200);
  }
  #Header{
    transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    justify-content: space-between;
    flex-direction: row;
    padding:10px;
  }
  #Header.slide{
  transform: translateX(-50%);
  }
  #HeaderMenu{
  height: 30px;
  width:30px;
  cursor:pointer;
  }
  #HeaderMenu div{
  background: linear-gradient(to right,rgb(150,0,200),rgb(200,0,250));
  width:100%;
  height:5px;
  margin: 5px;
  transition-property: all;
  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  }
  #HeaderMenu #Bar2.clicked{
  opacity: 0;
  }
  #MainContent{
  transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  }
  #MainContent.slide{
  transform: translateX(-50%);

  }
  .Search{
    width:90%;
  }
  #SearchBox{
    width:90%;
  }
  .Category{
  box-sizing: border-box;
  width:99%;
  position: static;
  top;0px;
  left:0px;
  margin: 2px;
  }
  .Product{
  width:40%;
  height:200px;
  font-size:80%;
  }
  .Product h3{
  margin:5px;
  }
  .Product .Product_Image{
  max-width:40%;
  }
  .Product input[type="button"]{
  width:80%;
  }
  #Product_Details{
  width:100%;
  height:100%;
  left:0px;
  top:0px;
  border:0px;
  }
  #Product_Details #About_Product,#Product_Details #Product_Features,#Product_Details #About_Seller{
  max-width:100%
  }
  #Alert{
  width:90%;
  left:3%;
  }
  #Footer{
  font-size: 15px;
  }
1}
@media screen and (max-width:700px) and (orientation:landscape){
  .Product{
    width:150px;
  }
}
@media screen and (min-width:701px) and (max-width:999px){
.Catalogue{
border:0px;
}
.Product{
height:200px;
width:150px;
}
.Product img{
width:40%;
max-height:50%;
}
#Product_Details{
width:100%;
height:100%;
left:0px;
top:0px;
border:0px;
}
}
